$font-size: 1rem;
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Rock+Salt&display=swap');

html {
  font-size: $font-size;
  font-family: 'Ma Shan Zheng', cursive;
  box-sizing: border-box;
  width: 100%;
  body {
    margin: 0;
    padding: 0;
    .intro-banner{
        padding: 2rem;
        font-size: 2rem;
        // background: linear-gradient(45deg, #a5e0db, #f4e353);
        .intro-heads{
            margin: 0.2rem;
            padding: 0.5rem;
        }
        h1{
            color:#ed143d;
        }
        h3{
            color:#ed143d;
        }
    }
    .info-container{
        padding: 2rem;
        display: flex;
        align-items: center;
        .image-container{
            width: 50%;
            height: 50vh;
            background: url(../images/meface.JPG);
            background-size: 825px;
            background-repeat: no-repeat;
            border: 1.5rem solid #fffaff;
            background-position: center;
            box-shadow: 2px 2px 5px 2px;
            color: #a9a9a9;
            position: relative;
            .note-on-img{
                position: absolute;
                bottom: -20px;
                color: #000000;
            }
            
        }
        
        .content{
            width: 50%;
            padding: 1rem;
            p{
                font-size: 2rem;
                line-height: 2.5rem;
                // letter-spacing: 0.1rem;
                // padding: 0;
                // margin: 0;
            }
        }
    }
    .footer{
        text-align: center;
        font-size: 1.5rem;
        .images-container{
            height: 6rem;
            .transparent{
                opacity: 0;
                position: absolute;
                left: 0;
                right: 0;
                height: 2rem;
            }
            .img1{
                animation: movelogo1 5s infinite alternate;
            }
            .img2{
                animation: movelogo2 5s infinite alternate;
            }
            .img3{
                animation: movelogo3 5s infinite alternate;
            }
            @keyframes movelogo1 {
                0%,20%{
                    opacity: 1;
                    transform: none;
                }
                25%,75%{
                    opacity: 0;
                    transform: translate(-2em)
                }
                80%,100%{
                    opacity: 0;
                    transform: translate(-2em)
                }
            }
            @keyframes movelogo2 {
                0%,20%{
                    opacity: 0;
                    transform: translate(-2em)
                }
                25%,75%{
                    opacity: 1;
                    transform: none;
                }
                80%,100%{
                    opacity: 0;
                    transform: translate(-2em)
                }
            }
            @keyframes movelogo3 {
                0%,20%{
                    opacity: 0;
                    transform: translate(-2em)
                }
                25%,75%{
                    opacity: 0;
                    transform: translate(-2em)
                }
                80%,100%{
                    opacity: 1;
                    transform: none;
                }
            }
        }
        .bye{
            color:#ed143d;
        }
    }
  }
}

